
<h3>All Users' Statistics:</h3>

<div class="row spacer">
<h3>Your Statistics:</h3>
  <div class='col-sm-4'>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Calories Burned Today:</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>


  <div class='col-sm-4'>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Calories Eaten Today:</h3>
      </div>
      <div class="panel-body">
        Calories
      </div>
    </div>
  </div>


<div class='col-sm-4'>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Lead Goal Crushers</h3>
    </div>
    <div class="panel-body">
      <ol>
        <li>Deepa</li>
        <li>John</li>
        <li>Kit</li>
        <li>Thomas</li>
        <li>Julia</li>
      </ol>
    </div>
  </div>

</div>