---
http_interactions:
- request:
    method: post
    uri: https://api.nutritionix.com/v1_1/search/
    body:
      encoding: UTF-8
      string: '{"appId":"070b4b7a","appKey":"943a89351d3489e6cf4937d51f82c789","query":"apple","fields":["item_name","nf_calories"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-1154128666"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"total":11979,"max_score":11.673948,"hits":[{"_index":"f762ef22-e660-434f-9071-a10ea6691c27","_type":"item","_id":"513fceb475b8dbbc21000f94","_score":11.673948,"fields":{"item_name":"Apple
        - 1 cup slices","nf_calories":56.68}},{"_index":"f762ef22-e660-434f-9071-a10ea6691c27","_type":"item","_id":"513fceb475b8dbbc21000f92","_score":11.673489,"fields":{"item_name":"Apple
        - 1 medium (3\" dia)","nf_calories":94.64}},{"_index":"f762ef22-e660-434f-9071-a10ea6691c27","_type":"item","_id":"513fceb475b8dbbc21000f95","_score":11.651828,"fields":{"item_name":"Apple
        - 1 cup, quartered or chopped","nf_calories":65}},{"_index":"f762ef22-e660-434f-9071-a10ea6691c27","_type":"item","_id":"513fceb475b8dbbc21000[...]
