---
http_interactions:
- request:
    method: post
    uri: https://api.nutritionix.com/v1_1/search/
    body:
      encoding: UTF-8
      string: '{"appId":null,"appKey":null,"query":"Apple","fields":["item_name","nf_calories"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"appId":{"param":"appId","msg":"must provide valid appId"},"appKey":{"param":"appKey","msg":"must
        provide valid appKey"}}'
  recorded_at: Thu, 25 Feb 2016 18:23:03 GMT
recorded_with: VCR 3.0.1
