<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">
      All Meals
      <span class="pull-right">
        <%= current_user.total_calories %> Cals
      </span>
    </h1>
    <%= button_to "Add a new meal", new_meal_path, class: "btn btn-default btn-xl", method: :get  %>
  </div>
</div>

<%= render current_user.meals %>
