<h1 class='page-header'>Your Goals</h1>

<%= button_to "Add a new goal", new_goal_path, class: "btn btn-default btn-xl", method: :get  %>

<br>

<% if @available_goals.any?  %>
  <h3>Active Goals</h3>
  <div class="list-group">
    <%= render @available_goals %>
  </div>
<% end %>

<% if @unavailable_goals.any?  %>
  <h3>Past Goals</h3>
  <div class="list-group">
    <%= render @unavailable_goals %>
  </div>
<% end %>
